= link_to book_owner_path(@book, user) do
  .user-box
    .row
      .col-xs-3.col-sm-2.max-width-80
        = image_tag 'user_dummy.jpg', class: "img-responsive"
      .col-xs-7.col-sm-7
        .row
          .center-block
            %p.user-name
              - if user.name.blank?
                Nutzer ohne namen
              - else
                = user.name
      .col-xs-12.col-sm-3.button-group
        - if @book
          = link_to new_user_book_borrow_request_path(user, @book) do
            %button.btn.btn-primary
              Jetzt ausleihen
