%section.profile
  .row
    .col-sm-2.col-xs-12
      = image_tag 'user_dummy.jpg', class: "img-responsive profile-image img-circle"

    .col-sm-10.col-xs-12.profile-info
    %p.lead.emphatized
      - if @user.name.blank?
        Nutzer ohne namen
      - else
        = @user.name

%section.section-seperated
  %h3.emphatized
    Bücher der Person
  %hr

  %ul.book-list
    - @user.books.each do |book|
      %li.row.book-box
        .col-sm-2
          .thumbnail
            =image_tag book.image_link
        .col-sm-10
          .book-info
            %h3.title
              =book.title
            %span
              Page Count:
              =book.pages
          .button-group
            = link_to new_user_book_borrow_request_path(@user, book, requester_id: current_user.id) do
              %button.btn.btn-primary
                Jetzt ausleihen
