.row
  .col-md-12
    %h1#headline Find your Book
.row.search
  .searchbar-header
    =form_tag(searched_books_path, method: 'GET') do
      = text_field_tag :search, params[:search],
        class: 'form-control',
        placeholder: 'Welches Buch suchst du?'
      .buttons
        =submit_tag('Suchen',
          type: 'submit' ,
          value: 'Search',
          class: 'btn btn-primary')
        - if current_user
          =link_to 'Alle Nutzer', users_path,
            class: 'btn btn-default users-link'
          =link_to 'Buch zum Profil hinzufügen', new_book_path,
            class: 'btn btn-default books-link'
          =link_to 'Bücher Browsen', available_books_path,
            class: 'btn btn-default books-link'

.row.margin-top-100.how-to
  .col-md-4.center-text
    .border
      %h3.bold
        1. Suchen
      .step
        =fa_icon 'search'
      %h4
        Starte die Suche nach einem bestimmten Buch und lass dir anzeigen, wer
        es zuhause hat.
  .col-md-4.center-text
    .border
      %h3.bold
        2. Ausleihen
      .step
        =fa_icon 'comments'
      %h4
        Kontaktiere den örtlich nächsten Freund und einigt euch über Treffpunkt
        und Dauer.
  .col-md-4.center-text
    .border
      %h3.bold
        3. Lesen
      .step
        =fa_icon 'book'
      %h4
        Lies das Buch und lass dich von Book and Read daran erinnern, wann du
        es zurückgeben musst.


%hr

.row.margin-top-100
  .col-md-6
    %h2.info-header
      Das Projekt
    %hr
    %p.welcome-text
      Wir entwickeln ein Portal, das dem Nutzer ein Netzwerk zum Austauschen
      von Fachbüchern bietet. Dieses funktioniert so ähnlich wie ein soziales
      Netzwerk, sodass man einsehen kann, wer welche Bücher besitzt und die
      jeweilige Person sofort kontaktieren kann. So lassen sich auch
      interessante neue Bücher entdecken und den eigenen Freunden Bücher
      empfehlen.
  .col-md-6
    =image_tag("project.jpg", :class => "img-responsive")

.row.margin-top-100
  .col-md-6
    =image_tag("books.jpg", :class => "img-responsive")
  .col-md-6
    %h2.info-header
      Unsere Motivation
    %hr
    %p.welcome-text
      Wir haben festgestellt, dass viele Leute tolle Bücher zuhause haben,
      wovon aber keiner der Mitmenschen etwas weiß. Die eigenen Bücher werden
      meistens zuhause eingelagert und verstauben im Regal, während sich die
      Freunde eventuell die selben Bücher erneut kaufen. Besonders im Bereich
      teurer Fachbücher ist es eine große Hilfe, wenn man sie sich für ein paar
      Wochen einfach von Freunden ausleihen kann.

.row.margin-top-100
  .col-md-6
    %h2.info-header
      Das Team
    %hr
    %p.welcome-text
      Das Team hinter Book and Read besteht aus Martin Görick, Paul Kunze,
      Sophie Zabel, Dennis Hägler und Philip Drozd.
    %p.welcome-text
      Wir sind Informatik-Studenten an der Freien Universität Berlin und wir
      entwickeln dieses Portal im Rahmen des
      =link_to("Funpreneur-Wettbewerbs,",
        "http://www.fu-berlin.de/sites/profund/qualifizierung/bachelorstudium/funpreneur-wettbewerb/")
      einer Veranstaltung von Profund Innovation.
  .col-md-6
    =image_tag("team-image.jpg", :class => "img-responsive")
