.searchbar-header
  %h1 Find your Book
  =form_tag(book_search_path, method: 'POST', class: 'input-group') do
    %input.form-control{ type: 'text', placeholder: 'Welches Buch suchst du....'}
    %span.input-group-btn
      =submit_tag('Suchen',
        type: 'submit' ,
        value: 'Search',
        class: 'btn btn-default')
  =link_to 'Alle Bücher im System', books_path

.intro-group
  .intro-box.first
  .intro-box
  .intro-box.last
