.row
  .col-md-12
    %h1#headline Find your Book
.row
  .col-md-12
    .searchbar-header
      =form_tag(all_books_path, method: 'GET', class: 'input-group') do
        %input.form-control{ type: 'text', placeholder: 'Welches Buch suchst du....'}
        %span.input-group-btn
          =submit_tag('Suchen',
            type: 'submit' ,
            value: 'Search',
            class: 'btn btn-default')
      =link_to 'Alle Nutzer', users_path,
        class: 'btn btn-link users-link'
      =link_to 'Alle Bücher im System', books_path,
        class: 'btn btn-link books-link'

.row
  .col-md-4
    .intro-box.first
  .col-md-4
    .intro-box
  .col-md-4
    .intro-box.last
