%h2 Alle Verleihe

%table.table
  %thead
    %tr
      %th Buchtitle
      %th Verliehen an
      %th Seit
      %th Bis

  %tbody
    - @rentals.each do |rental|
      %tr
        %td= rental.book.title
        %td= link_to rental.borrower.name, users_path(rental.borrower)
        %td= rental.start
        %td= rental.end
