%h2 Alle Verleihe

%table.table
  %thead
    %tr
      %th Verleih ab
      %th Verleih bis
      %th Verliehen an

  %tbody
    - @rentals.each do |rental|
      %tr
        %td= rental.start
        %td= rental.end
        %td= rental.borrower.email
        -# %td= link_to 'Show', rental
        -# %td= link_to 'Destroy', rental, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
