=link_to book_path(book) do
  .row.book-box
    .col-sm-2
      .thumbnail
        =image_tag book.image_link
    .col-sm-10
      .book-info
        %h3.title
          =book.title
        %span
          Anzahl der Besitzer:
          =book.owners.count
      .button-group
        - if book.available?
          = link_to book_owners_path(book) do
            %button.btn.btn-primary
              = fa_icon 'user'
              Zu den Besitzern
        - if current_user
          - unless current_user.books.include? book
            = link_to user_books_path(current_user, id: book),
              method: :post,
              remote: true do
              %button.btn.btn-success
                = fa_icon('plus')
                In eigene Sammlung aufnehmen
