=link_to book_path(book) do
  .row.book-box.well.well-sm
    .col-xs-6.col-md-2
      .thumbnail
        =image_tag book.image_link, class: 'book-image'
    .col-md-7
      .row
        %h3.title
          =book.title
      .row
        %span
          Page Count:
        =book.pages
    .col-md-2
      = link_to book_users_path(book) do
        %button{ class: 'btn btn-primary' }Owner (NOT WORKING)
