=link_to book_path(book) do
  .row.book-box.well.well-sm
    .col-md-2
      .thumbnail
        =image_tag book.image_link
    .col-md-7
      .row
        %h3.title
          =book.title
      .row
        %span
          Page Count:
        =book.pages
    .col-md-2
      = link_to book_owners_path(book) do
        %button{ class: 'btn btn-primary' }Show owners
