.page-header
  %h1
    Gesuchte Bücher
    %small TEXT AUS SEARCHFIELD

-if @searched_for
  .warning
    You searched for:
    =@searched_for

.list-group
  - @books.each do |book|
    .well.well-sm
      =link_to book_path(book) do
        .row
          .col-md-2
            =image_tag book.image_link
          .col-md-8
            %h3.title
              =book.title
            .page-count
              %span
                Page Count:
              =book.pages


