.page-header.container
  %h1
    Search results
    %small TEXT FROM SEARCHFIELD

-if @searched_for
  .warning
    You searched for:
    =@searched_for

- @books.each do |book|
  = render 'box', book: book
