-if @searched_for
  .warning
    You searched for:
    =@searched_for
- @books.each do |book|
  =link_to book_path(book) do
    .book-box
      .book-information
        %h3.title
          =book.title
        .page-count
          %span
            Page Count:
          =book.pages
      .image
        =image_tag book.image_link


