.page-header
  %h1
    Gesuchte Bücher
    %small TEXT AUS SEARCHFIELD

-if @searched_for
  .warning
    You searched for:
    =@searched_for

- @books.each do |book|
  .row
    .col-md-12
      = render 'book_box', book: book


