.row
  .col-md-8
    - @users.each do |user|
      .well.user-box
        .row.vertical-center
          .col-md-10.user-information
            .col-md-3
              = image_tag 'user_dummy.jpg', height: 80, widht: 80
            .col-md-9
              %p
                = user.name
              %p
                = user.email
          .col-md-2.buttons
            = link_to root_path do
              %button.btn.btn-primary#btn
                Rent now
  .col-md-4
    .google-maps
