
.row
  .col-md-3
    =image_tag @book.image_link, class: 'thumbnail'
  .col-md-9
    .row
      %h3.title
        Title:
        = @book.title
    .row
      %h4.title
        Page:
        = @book.pages
    .row
      %h4 Beschreibung:
      = @book.description
=link_to "To all books", books_path
