//= require_tree .

@import bootstrap-sprockets
@import bootstrap
@import bootstrap/theme
@import font-awesome-sprockets
@import font-awesome

.container
  max-width: 990px

.navbar
  margin-bottom: 50px

footer
  background: grey
  height: 50px
