//= require_tree .

@import bootstrap-sprockets
@import bootstrap/variables
@import bootstrap
@import bootstrap/theme
@import font-awesome
@import url(https://fonts.googleapis.com/css?family=Open+Sans)
@import variables
@import jquery-ui

body
  font-family: Open Sans

.alert-success, .alert-danger
  background-image: none

.btn-success.disabled
  box-shadow: 4px 4px rgba(0,0,0,0.1)

.btn-danger, .btn-success, .btn-warning
  background-image: none
  box-shadow: 4px 4px rgba(0,0,0,0.1)
  margin-right: $gap-xs

.horizontally-seperated
  margin: 0 $gap-sm

.horizontally-seperated-large
  margin: 0 $gap

.seperated-sm
  margin-top: $gap-sm

.seperated
  margin-top: $gap

.container
  max-width: 990px

.seperator:after
  content: "|"
  color: darken($navbar-default-color, 8%)

.button-text
  color: #000

.input-group-btn input
  background-image: none
  border-radius: 5px

.navbar-default
  background: $blue-default

  .navbar-header > a
    color: $navbar-default-color
    font-size: $font-size-base * 1.4
    padding: 6px 0 0 $logo-width + 10px
    background-image: url('logo-white.png')
    background-repeat: no-repeat
    margin-top: 3px
    display: inline-block
    height: $logo-height
    width: $logo-width
    position: absolute

    &:hover
      text-decoration: none

    @media(max-width:767px)
      left: $gap+$gap-sm/2

  .navbar-link
    color: darken($navbar-default-color, 8%)

    &:hover
      color: darken($navbar-default-color, 15%)

  .navbar-collapse
    position: relative

  .dropdown
    position: absolute
    right: 0
    padding-top: ($navbar-height - $font-size-base) / 3
    cursor: pointer
    color: darken($navbar-default-color, 8%)

    &:hover
      color: darken($navbar-default-color, 14%)

    .dropdown-menu li a
      color: $text-color



footer
  background-color: $footer-bg
  padding: 1.5*$gap-large 0
  margin-top: 2*$gap-large
  color: $footer-color


  h4
    border-bottom: 2px solid $link-color
    display: inline-block
    padding-bottom: $gap-xs

  ul
    padding-left: 0

    li
      border-bottom: 1px dotted darken($footer-color, 30%)
      list-style-type: none
      padding: $gap/2 0

      a
        color: lighten($footer-color, 20%)

        &:hover
          text-decoration: none
          color: $link-color

  address p
    border-bottom: 1px dotted darken($footer-color, 30%)
    padding: $gap/2 0
    margin: 0

.dropdown-places
  padding: $gap-xs
  border-radius: 4px
  cursor: pointer

.submit-button input
  display: inline-block
  height: auto
  margin-top: $gap-sm
  border-radius: 5px
  box-shadow: 4px 4px rgba(0,0,0,0.1)
  padding: $padding-large-vertical*0.7 $padding-large-horizontal*0.7
  font-size: $button-font-size*0.9
  background: $blue-default
  color: $btn-default-color
  border: $btn-primary-border

  &:hover
    background: darken($blue-default, 10%)

  &.btn-primary, &.btn-success
    background-image: none
    box-shadow: 4px 4px rgba(0,0,0,0.1)

.bg-warning
  border-radius: $box-border-radius
  padding: $gap-sm $gap
  border: 1px solid darken($state-warning-bg, 10%)

.red-child input
  background: $brand-danger

  &:hover
    background: darken($brand-danger, 10%)

.small-text
  font-size: small


.alpha-sign-inner
  text-align: center
  background: #FCE6AA

@media (min-width: 640px)
  .alpha-sign-outer
    position: absolute
    left: -66px
    top: 100px

  .alpha-sign-inner
    width: 300px
    padding-top: 5px
    padding-bottom: 5px
    transform: rotate(-40deg)