.book-box
  width: 70%
  margin-bottom: 40px
  background: lightgrey
  position: relative
  outline: 1px solid #777
  &:hover
    background: grey
  .book-information
    position: absolute
    padding-left: 170px
  .image
    overflow: hidden
    img
      width: 128px
      height: 170px
    padding: 20px
