// borrow_request.css.sass

@import application

.form-group .btn-primary
  display: inline-block
  height: auto
  margin-top: $gap-sm
  border-radius: 5px
  border: 1px solid $btn-primary-border
  box-shadow: 4px 4px rgba(0,0,0,0.1)
  background-image: none
  padding: $padding-large-vertical*0.7 $padding-large-horizontal*0.7
  font-size: $button-font-size*0.9
