//home.css.sass

@import variables

#headline
  font-size: 60px
  text-align: center

.intro-box
  width: 100%
  height: 300px
  background: black

.login-box
  float: right
  padding-top: $gap / 2 + 2px
  color: $navbar-default-color


.searchbar-header
  .btn-link.books-link
    //float: right
  .btn-link.users-link
    //float: left
