//home.css.sass

@import variables

#headline
  font-size: 60px
  text-align: center

.intro-box
  width: 100%
  height: 300px
  background: black

.login-box
  float: right
  padding-top: $gap / 2 + 2px
  color: $navbar-default-color


.searchbar-header
  .btn-link.users-link
    float: left

.center-text
  text-align: center

.step
  font-size: 160px

.bold
  font-weight: bold

.margin-top-bottom
  margin-top: 80px
  margin-bottom: 80px

.margin-bottom-100
  margin-bottom: 100px

.border
  padding: 5px
  border: 2px solid black

@media(max-width: 992px)
  .border
    margin: 5px

