%h2 Eigene Ausleihwünsche
%table.table.section-seperated
  %thead
    %tr
      %th
        Buchtitel
  %tbody
    - @borrow_requests.each do |borrow_request|
      %tr
        %td
          = borrow_request.book.title

%h2 Anfragen von anderen
%table.table.section-seperated
  %thead
    %tr
      %th
        Buchtitel
  %tbody
    - @lent_request.each do |lent_request|
      %tr
        %td
          = lent_request.book.title
        %td
          = link_to 'Details', user_borrow_request_path(current_user, lent_request)
