app/view/borrow_requests/index.html.haml
%h2 Eigene Ausleihwünsche
%ol.borrow-requests
  - @borrow_requests.each do |borrow_request|
    %li
      = borrow_request.book.title
%h2 Anfragen von anderen
%ol.borrow-requests
  - @lent_request.each do |lent_request|
    %li
      = lent_request.book.title
      = link_to 'Details', user_borrow_request_path(current_user, lent_request)

